.card-copy {
  z-index: 5;
  position: absolute;
  background-color: #e91e63;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  display: none;
  border-radius: 5px;
  color: #fff;

  .card {
    margin: 0;
  }
}
