$BACKGROUND_COLOR: #3e3e3e;

.header {
  // background-image: linear-gradient(#c8f3fc, #8286fa);
  // background-color: liner-g;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: 900;
  font-size: 2rem;
  border-bottom: 1px solid #bebebe;

  .title {
  }

  .menu {
  }
}
